body {
    background: gray;
}

#cont{
    display: flex;
    border: 1px solid greenyellow;
    padding: 155px 483px;
}

#block {
    width: 200px;
    height: 200px;
    border: 2px solid red;
}


