body {
    background: gray;
}

#cont{
    display: flex;
    border: 1px solid greenyellow;
    width: 200px;
    padding: 155px 100px;
    
}

#block {
    /* width: 200px; */
    /* max-height: 200px; */
    border: 2px solid red;
}


