/* @font-face {
    font-family: 'Bebas Neue';
    src: local('Bebas Neue Thin'), local('BebasNeue-Thin'), url('bebasneuethin.woff2') format('woff2'), url('bebasneuethin.woff') format('woff'), url('bebasneuethin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'Bebas Neue';
    src: local('Bebas Neue Light'), local('BebasNeue-Light'), url('bebasneuelight.woff2') format('woff2'), url('bebasneuelight.woff') format('woff'), url('bebasneuelight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'Bebas Neue';
    src: local('Bebas Neue Book'), local('BebasNeueBook'), url('bebasneuebook.woff2') format('woff2'), url('bebasneuebook.woff') format('woff'), url('bebasneuebook.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
} */
@font-face {
    font-family: 'bebasbold400';
    src: local('Bebas Neue Regular'), local('BebasNeueRegular'), url('fonts/bebasneue/bebasneueregular.woff2') format('woff2'), url('fonts/bebasneue/bebasneueregular.woff') format('woff'), url('fonts/bebasneue/bebasneueregular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
} 
@font-face {
    font-family: 'bebasbold700';
    src: local('Bebas Neue Bold'), local('BebasNeueBold'), url('fonts/bebasneue/bebasneuebold.woff2') format('woff2'), url('fonts/bebasneue/bebasneuebold.woff') format('woff'), url('fonts/bebasneue/bebasneuebold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

*{
    box-sizing: border-box;
}

body, ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1000px;
    margin: auto;
}

#header-top, #header-nav ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#header-top {
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

#search  {
    max-width: 440px;
    width: 100%;
    position: relative;
}

#search input {
    width: 100%;
    height: 30px;
}

#search img {
    position: absolute;
    right: 2px;
    top: 2px;
}

#cart span {
    font-family: 'bebasbold700';
    color: #a1a1a1;
    font-size: 30px;
    position: relative;
    bottom: 8px;
    padding-left: 5px;
}

#header-nav {
    background: #4ccfc1;
    padding: 10px 0;
}

#header-nav ul li a{
    border-right: 2px solid #fff;
    padding: 0 20px;
    color: #fff;
    font-family: 'bebasbold700';
    text-transform: uppercase;
    font-size: 22px;
}

#header-nav ul li:first-child a {
    padding-left: 0;
}

#header-nav ul li:last-child a {
    border-right: none;
    padding-right: 0;
}

.slider-bg {
    background: #41c6c4;
}

#slider {
    display: flex;
    padding: 70px 0 50px 0;
    justify-content: space-around;
}

.slide-text {
    color: white;
    max-width: 420px;
}

.slide-text h2 {
    font-family: 'bebasbold400';
    font-size: 65px;
    margin: 0;
}

.slide-text p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 17px;
}

.slide-text button {
    color: white;
    background: none;
    text-transform: uppercase;
    border: 2px solid white;
    font-family: 'bebasbold700'; 
    border-radius: 5px;
    font-size: 18px;
    padding: 5px 15px 1px 15px;
}




@media(max-width: 1000px) { 
    #header-top {
        margin: 0 15px;
    }

    #header-nav {
        padding: 0 15px;
    }

    #header-nav ul li a {
        border: none;
        padding: 0 10px;
    }
    
    #header-nav ul li{
        margin: 5px;
    }
}

@media(max-width: 780px) {

    #header-top, #header-nav ul {
        justify-content: center;
    }

    #header-top {
        flex-direction: column;
    }

    #search {
        margin: 15px;
        width: 75%;
    }
   
}



